body{
    font-size: 32px;
}
p{
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 200px;
}
.title{
    line-height: 168px;
    margin-right: 45%;
}
.description{
    margin-top: 100px;
}
.button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: 0px;
}
.button_secondpage{
    margin-top: 50px;
    display: inline-block;
}